"*":
  editor:
    fontFamily: "Menlo"
    showIndentGuide: true
    invisibles: {}
    softWrapAtPreferredLineLength: true
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "autocomplete"
      "atom-lint"
      "slack-atom"
      "ruby-quick-test"
      "slack-chat"
      "linter-erb"
      "linter-scss-lint"
      "atom-color-highlight"
    ]
    themes: [
      "unity-ui"
      "one-light-syntax"
    ]
    projectHome: "/Users/jon/Sites/"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "git-diff":
    showIconsInEditorGutter: true
  linter:
    ignoredLinterErrors: [
      "scss-lint"
    ]
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
    suggestionListFollows: "Word"
  "circle-ci":
    apiToken: "7fd7b8b85029ffcf56bfdb37ec2b3838fc143ac4"
    iconColor: true
  react: {}
  tabs:
    tabScrolling: true
  emmet: {}
  "autocomplete-ruby": {}
  coverage: {}
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  rspec:
    command: "spring rspec"
    save_before_run: true
    force_colored_results: false
  "rails-transporter": {}
  "rails-rspec": {}
  "merge-conflicts": {}
  "git-plus": {}
  "atom-color-highlight": {}
  wakatime:
    ignore: [
      "^/var/"
      "^/tmp/"
      "^/private/"
      "COMMIT_EDITMSG$"
      "PULLREQ_EDITMSG$"
      "MERGE_MSG$"
    ]
    apikey: "bc385d87-7512-460b-9377-ef24b11d15b4"
  "linter-scss-lint":
    executablePath: "/Users/jon/.rvm/gems/ruby-2.0.0-p353@storenvy/bin/"
  jshint:
    supportLintingJsx: true
